<div
        class="app-layout"
        [class.dark-theme]="layoutService.theme() === 'dark'"
        [class.collapsed]="layoutService.layout().collapsed"
>
    <!-- Sidebar -->
    <app-sidebar
            *ngIf="layoutService.layout().showSidebar"
            [collapsed]="layoutService.layout().collapsed"
    ></app-sidebar>

    <!-- Main Area -->
    <div class="app-main">
        <app-topbar
                *ngIf="layoutService.layout().showTopbar"
                [theme]="layoutService.theme()"
                [user]="authService.currentUser$ | async"
                (logout)="onLogout()"
        ></app-topbar>

        <main class="app-content container-fluid p-3">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
